*
{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body
{
  font-family: montserrat;
}
nav
{
  background: -webkit-linear-gradient(left, #fff5b6,#ffb6c1);
  height: 80px;
  width: 100%;
  border-bottom: 5px soild blue;
}
label.logo
{
  color: black;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul
{
  float: right;
  margin-right: 20px;
}
nav ul li
{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a
{
  color: black;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover
{
  background: #1b9bff;
  transition: .5s;
}

/*Background image css goes here */
section
{
  /*background: url("backgroundFP1.jpg") no-repeat;*/
  background: white;-webkit-linear-gradient(left, #ffb6c1, #fff5b6, #b6fff4)
  background-size: cover;
  height: calc(100vh - 80px);
}

.banner-image{
    background: url('backgroundFP1.jpg') ;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    background-size: cover;

}

/*adding the logo above the search bar*/
.logoInsert
{
  position: absolute;
  top: 20.5%;
  left: 50%;
  transform: translate(-50%,-50%);
}
/*This is the section for the search feature*/
.wrapper
{
  position: absolute;
  top: 30%;
  left: 50%;
  /*used to remove the negative margins aka makes them go onto one line*/
  transform: translate(-50%,-50%);
  background: rgba(0,0,0,0.6);
  max-width: 550px;
  width: 100%;
  padding: 15px;
  border-radius:5px;
  /* making them into one row*/
  display: flex;
  justify-content: space-between;
}

.wrapper .input[type="text"]
{
  width: 85%;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

/* search bar stuff*/
.searchbtn
{
   background: #0082e6;
   width: 10%;
   border-radius: 5px;
   position: relative;
   cursor: pointer;
}

.searchbtn .fas
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 18px;
}

/* Map on about ppage*/
.map
{
    position: absolute;
    top:25%;
    left:60%;
    border:3px;
    border-style: solid;
    border-color: #8B0000;

}
